
BlazorMusicCatalog.Data/obj/BlazorMusicCatalog.Data.csproj.nuget.g.props
/BlazorMusicCatalog.Data/bin
/BlazorMusicCatalog.Data/obj
/BlazorMusicCatalog.Models/bin
/BlazorMusicCatalog.Models/obj
/BlazorMusicCatalog/bin
/BlazorMusicCatalog/obj